*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 1rem = root font-size in this case, 10px */

html {
  /* 1remの大きさ */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
