body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey;
  padding: 30px;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 10px;
    /* 使用するアニメーションを呼び出す */
    animation-name: moveInLeft;
    /* 何秒で終了するか定義 */
    animation-duration: 5s;
    /* アニメーションの発生を遅らせる */
    /* animation-delay: 3s; */
    /* 3回実行 */
    /* animation-iteration-count: 3; */
    /* どんなアクションをするか定義 */
    /* animation-timing-function: ease-in-out; */
  }

  &--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    /* 使用するアニメーションを呼び出す */
    /* animation-name: moveInRight; */
    /* 何秒で終了するか定義 */
    /* animation-duration: 5s; */
    animation: moveInRight 5s ease-in-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1rem;
  transition: all 0.3s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
